<<<<<<< HEAD
<div class="comment-meta">
    <small><%= comments.created_at %></small>
    <%= link_to 'Destroy', [comments.post, comments], method: :delete,  confirm: 'Are you sure?', class: "tiny button radius right" %>
=======
<div class="media">
  <%= link_to '#', class: 'pull-left' do %>
    <%= image_tag(comment.user.avatar.small.url) if comment.user.avatar? %>
  <% end %>
  <div class="media-body">
    <small>
      <%= comment.user.name %> commented <%= time_ago_in_words(comment.created_at) %> ago
      <% if policy(comment).destroy? %>
        | <%= link_to "Delete", [@topic, @post, comment], method: :delete %>
      <% end %>
    </small>
    <p><%= comment.body %></p>
  </div>
>>>>>>> destroy
</div>