<h1><%= markdown_to_html @post.title %></h1>
<div class="row">
  <div class="col-md-12">
    <small>
      <%= image_tag(@post.user.avatar.tiny.url) if @post.user.avatar? %>
      submitted <%= time_ago_in_words(@post.created_at) %> ago by
      <%= @post.user.name %>
    </small>
     <p><%= markdown_to_html @post.body %></p>

  <% if policy(@post).edit? %>
    <%= link_to "Edit", edit_topic_post_path(@topic,@post), class: 'btn btn-success' %>
  <% end %>
  </div>
</div>

<div style="margin-top:40px" class="row">
  <div class='col-md-12'>
    <h3>Comments</h3>
    <% if @comments.count == 0 %>
      <small><i><%= @user %> be the first to comment!</i></small>
    <% else %>
      <%= render @comments %>
    <% end %>
  </div>
</div>
<div style="margin-top:40px" class="row">
  <div class='col-md-12'>
    <%= render 'comments/form', topic: @topic, comment: @comment, post: @post %>
  </div>
</div>


